aligmentDisp span{color:#999999;}
span.m{color:#008800;}
span.dm, #alignment span.na{color:#A66A00;}
span.sm{color:#D460CF;}
span.qg, #alignment span.hg{color:#104BA9;}
.alignmentBlock11{background-color:rgb(255, 165, 0);}.alignmentBlock12{background-color:rgb(255, 229, 0);}.alignmentBlock13{background-color:rgb(217, 255, 0);}.alignmentBlock14{background-color:rgb(154, 255, 0);}.alignmentBlock15{background-color:rgb(90, 255, 0);}.alignmentBox11{background-color:rgb(255, 165, 0);border-color:black;border-style:solid;border-width:1px;margin:5px 10px 10px 0pt;height:10px;width:10px;}.alignmentBox12{background-color:rgb(255, 229, 0);border-color:black;border-style:solid;border-width:1px;margin:5px 10px 10px 0pt;height:10px;width:10px;}.alignmentBox13{background-color:rgb(217, 255, 0);border-color:black;border-style:solid;border-width:1px;margin:5px 10px 10px 0pt;height:10px;width:10px;}.alignmentBox14{background-color:rgb(154, 255, 0);border-color:black;border-style:solid;border-width:1px;margin:5px 10px 10px 0pt;height:10px;width:10px;}.alignmentBox15{background-color:rgb(90, 255, 0);border-color:black;border-style:solid;border-width:1px;margin:5px 10px 10px 0pt;height:10px;width:10px;}.alignmentBlock21{background-color:rgb(0, 255, 255);}.alignmentBlock22{background-color:rgb(0, 178, 255);}.alignmentBlock23{background-color:rgb(0, 102, 255);}.alignmentBlock24{background-color:rgb(0, 25, 255);}.alignmentBlock25{background-color:rgb(51, 0, 255);}.alignmentBox21{background-color:rgb(0, 255, 255);border-color:black;border-style:solid;border-width:1px;margin:5px 10px 10px 0pt;height:10px;width:10px;}.alignmentBox22{background-color:rgb(0, 178, 255);border-color:black;border-style:solid;border-width:1px;margin:5px 10px 10px 0pt;height:10px;width:10px;}.alignmentBox23{background-color:rgb(0,
 102, 255);border-color:black;border-style:solid;border-width:1px;margin:5px 10px 10px 0pt;height:10px;width:10px;}.alignmentBox24{background-color:rgb(0, 25, 255);border-color:black;border-style:solid;border-width:1px;margin:5px 10px 10px 0pt;height:10px;width:10px;}.alignmentBox25{background-color:rgb(51, 0, 255);border-color:black;border-style:solid;border-width:1px;margin:5px 10px 10px 0pt;height:10px;width:10px;}
td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}
